@font-face {
    font-family: 'airstrip';
    src: url('fonts/Airstrip/airstrip-webfont.eot');
    src: url('fonts/Airstrip/airstrip-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Airstrip/airstrip-webfont.woff') format('woff'),
         url('fonts/Airstrip/airstrip-webfont.ttf') format('truetype'),
         url('fonts/Airstrip/airstrip-webfont.svg#airstrip_fourregular') format('svg');
    font-weight: normal;
    font-style: normal;
}